body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-box {
  position: relative;
}

.controlbox {
  position: absolute;
  width: 350px;
  background-color: pink;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 10px;
  color: gray;
  border: 1px solid palevioletred;
  bottom: 10px;
  left: 110px;
  z-index: 2;
}
.play-list {
  position: relative;
  z-index: 1;
}

.play-list,
.play-now {
  width: 400px;
  height: 600px;
  margin: 0 100px;
  background-color: #fef9f9;
  border-radius: 25px;
}

.play-list__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.play-list__header span {
  color: rgb(82, 81, 81);
  margin: 20px 10px;
}

.play-list__info {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.play-list__info div img {
  background-color: pink;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px dotted palevioletred;
}

.play-list__info ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  text-align: center;
  margin-right: 25px;
  font-weight: 600;
}

.play-list__info ul :first-child {
  font-size: x-large;
  color: rgb(82, 81, 81);
}

.play-list__info ul:last-child {
  color: #b0b0b0;
}

.play-list__bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-list__bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border: 1px solid palevioletred;
  border-radius: 40px;
  margin: 0 10px;
  font-weight: 800;
  color: grey;
}

.play-list__bar__shuf {
  background-color: pink;
}
.play-list__list {
  height: 250px;
  margin: 0 30px;
}
.play-list__list__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
.play-list__list__box:nth-child(2) {
  border: 1px dotted pink;
  border-radius: 20px;
  background-color: rgb(255, 240, 242);
}

.play-list__list__box div img {
  width: 50px;
  height: 50px;
  border: 1px solid pink;
  border-radius: 10px;
}
.play-list__list__box ul {
  list-style-type: none;
  margin-right: 120px;
}
.play-list__list__box_text li:first-child {
  color: rgb(82, 81, 81);
  font-size: 16.5px;
  font-weight: 580;
}
.play-list__list__box_text li:last-child {
  color: pink;
  font-weight: 600;
  font-size: 18px;
}

.play-list__list__box span {
  color: grey;
}

.controlbox ul {
  margin: 0;
  list-style-type: none;
  font-weight: 600;
}

.controlbox span {
  margin-right: 20px;
}

.play-now__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.play-now__header span {
  color: rgb(82, 81, 81);
  margin: 20px 15px;
}

.play-now__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.play-now__main div img {
  width: 250px;
  height: 250px;
  border-radius: 40px;
  border: 1px dotted palevioletred;
}

.play-now__main ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  text-align: center;
  margin-right: 25px;
  font-weight: 600;
}

.play-now__main ul :first-child {
  font-size: 30px;
  color: rgb(82, 81, 81);
  margin-bottom: 10px;
}

.play-now__main ul:last-child {
  color: #b0b0b0;
  font-size: 20px;
}

.play-now__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-now__bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  color: grey;
  font-weight: 500;
}
.play-now__bar_progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  appearance: none;
  width: 400px;
}
.progress::-webkit-progress-bar {
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value {
  border-radius: 10px;
  background: pink;
  background: -webkit-linear-gradient(to right, pink, rgb(211, 133, 146));
  background: linear-gradient(to right, pink, rgb(211, 133, 146));
}

.play-now__icons {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  margin-top: 30px;
}

.play-now__icons span:first-child {
  color: #b0b0b0;
}

.play-now__icons span:last-child {
  color: #b0b0b0;
}
